body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;   
    
}    
        .main-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Helvetica, sans-serif;
            width: 100%;
            height: 100%;
        }
        
        .instruction-btn {
            background-color: #fff;
            color: #1E90FF;
            padding: 10px 15px;
            1px solid #1E90FF;
            border-radius: 4px;
            margin: 0; /* Забираємо маргін, щоб точніше контролювати позицію */
            font-size: 16px;
            cursor: pointer;
        
            position: fixed; /* Фіксує кнопку у вікні */
            top: 20px; /* Відступ від нижнього краю вікна */
            right: 15px; /* Відступ від правого краю вікна */
            z-index: 1100; /* Забезпечує, щоб кнопка завжди була над іншими елементами */
        }
        .instruction-img-link {
            position: ;
            top: 5px;
            left: 15px;            
        }
        .instruction-img {
          width: 50px;
          height: 50px;
          cursor: pointer;
        }    
        .container {
            display: block;
            flex-direction: column;
            align-items: center;
            font-family: Helvetica, sans-serif;
            width: 100%;
            height: 600%;

            background-color: #F5F5F5;
            padding: 5px;
            border-radius: 0px;
            border: ;

            font-size: 20px;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
            text-align: left;
        }  
        .header-text {
            margin-top: 25px;
            font-size: 20px;
            font-weight:;
            color: rgb(64, 122, 167);
            margin-bottom: 10px;
            text-align: left;
        }
        .input-group {
            margin-bottom: 15px;
            text-align: left;
            font-size: 20px;            
            color: #4682B4;
        }
        .input-group label {
            display: block;
            margin-bottom: 5px;
            
            background-color: #F5F5F5;
            font-color: #4682B4
        }
        .input-group input {
            width: 90%;
            padding: 8px;
            border: 0.5px solid #4682B4;
            border-radius: 1px;
            font-size: 14px;
            background-color: #fff;
            font-color: #4682B4
            
        }
        .submit-btn {
            margin-top: 5px;
            background-color: rgb(64, 122, 167);
            color: #fff;
            padding: 15px 20px;
            border: 2px solid #fff;            
            border-radius: 6px;
            font-size: 15px;
            left: 15px;
            cursor: pointer;
            position: center;
        }
        .submit-btn:hover {
            background-color: #fff;
        }    
        .channels-container {
            display: block;
            margin-top: 5px;
            background-color: #fff;
            padding: 15px;
            border-radius: 0px;
            border:;
            height: 80%;
            width: 100%;
            font-size: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }
        .channels-text {
            margin-top: 40px;
            font-size: 20px;
            font-weight:;
            color: #4682B4;
            /* margin-bottom: left; */
            text-align: left;
        }
        .channels-text a {
            color: #4169E1; /* Синій колір посилання */
            text-decoration: none; /* Прибрати підкреслення */
        }
        
        .channels-text a:hover {
            text-decoration: underline; /* Підкреслення при наведенні */
        }   
        .container2 {
            display: block;
            margin-top: 150px;
            background-color: #F5F5F5;
            padding: 15px;
            border-radius: 0px;
            border:;
            height: 110%;
            width: 100%;
            font-size: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }          
        .iheader-text {
            margin-top: 20px;
            font-size: 22px;
            font-weight:;
            color: #4682B4;
            margin-bottom: 10px;
            text-align: left;
        }
        .instructions-text {
            margin-top: 10px;
            font-size: 20px;
            font-weight:lighter;
            color: #4682B4;
            margin-bottom: left;
        }
        
        .scroll-top-btn {
            margin-top: 20px;
            margin-left: 20px;
            display: none; /* Початково прихована */
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #FF7F50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;
            z-index: 1100;
        }

        .scroll-top-btn:hover {
            background-color: #32C5B8;
        }
